<div class="container">
    <h2>Vertical (basic) form</h2>
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <small class="text-danger">{{message}}</small>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  #email="ngModel" [(ngModel)]="user.email"
        [class.is-invalid]="email.invalid && email.touched">
        <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email id is Required</small> -->
      <div *ngIf="email.errors && (email.invalid && email.touched)">
        <small class="text-danger" *ngIf="email.errors.required">Email Id is required</small>
        <small class="text-danger"*ngIf="email.errors.pattern" >Enter Valid email id</small>
      </div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required #password="ngModel" [(ngModel)]="user.password"
        [class.is-invalid]="password.invalid && password.touched">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password id is Required</small>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      <button [disabled]="loginForm.form.invalid" type="submit" class="btn btn-info">Login</button>
    </form>
  </div>